# Homework

## Question 1
Create a list with the following data, and then assign it to a variable named shopping: spam, ham, eggs, ham

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

1) Extract the second element of the list

In [2]:
shopping[1]

'ham'

2) Extract the first to the third (inclusive) element of the list

In [4]:
shopping[:3]

['spam', 'ham', 'eggs']

3) Extract only the last element of the list

In [5]:
shopping[-1]

'ham'

## Question 2

Set up a list with the following elements: stops = Croy, Cumbernauld, Falkirk High, Linlithgow, Livingston, Haymarket

In [21]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

1) Append Edinburgh Waverley to the end of the list

In [22]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

2) Add "Queen Street" to the start of the list

In [23]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

3) Find out what index "Croy" is at in the list

In [17]:
stops.index("Croy")

1

4) Add "Polmont" at the appropriate point

In [24]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

5) Remove "Haymarket" from the list of stops

In [25]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

6) Remove all items from stops

In [26]:
stops = []
stops

[]

## Question 3

Set up the following dictionary: person = {"name": "Steph", "age": 31, "Instructor" : True}

In [33]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

1) Return the keys, values and items from this dictionary.

In [28]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [29]:
person.values()

dict_values(['Steph', 31, True])

In [30]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

2) Take out only the name from it

In [34]:
person["name"]

'Steph'

3) Add a new key:value pair, which adds the email

In [35]:
person.update({"email": "steph@codeclan.com"})

In [36]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

4) Delete the job description from the dictionary

In [37]:
person.pop("Instructor")

True

In [38]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Question 4

For the following list of numbers:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [2]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

1) Print out a list of the even integers

In [40]:
[number for number in numbers if number % 2 == 0]

[6, 2, 2, 6]

2) Print the difference between the largest and smallest value

In [43]:
def max_min_diff(numbers):
    number_1 = max(numbers)
    number_2 = min(numbers)
    return number_1 - number_2

max_min_diff(numbers)

98

3) Print true if the list contains a 2 next to a 2 somewhere

In [52]:
stored_value = 0
for number in numbers:
    if stored_value == 2 and number == 2:
        print(True)
    else: stored_value = number

True

4) Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7

In [6]:
running_total = 0
count = True

for num in numbers:
    if num == 6:
        #stop counting if number is a 6
        count = False
    if count == True:
        running_total = running_total + num
    if num == 7:
        #need to have this at the end so that 7's aren't added to the running total
        count = True
        
print(running_total)

2

## Question 5

Write a conditional that takes in two inputs

In [65]:
python_is_fun = True
python_is_weird = False

if python_is_fun == True or python_is_weird == True or python_is_fun == True and python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

## Question 6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

In [67]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

chickens2 = [
  { "name": "Sally", "age": 2, "eggs": 5 },
  { "name": "Betty", "age": 1, "eggs": 3 },
  { "name": "Barbara", "age": 3, "eggs": 4 },
]


def get_total_eggs_collected(chickens):
    total_eggs = 0
    for chicken in chickens:
        total_eggs += chicken["eggs"]
    print(str(total_eggs) + " total eggs collected")
    
get_total_eggs_collected(chickens2)

12 total eggs collected